@import "tailwindcss";
@plugin "daisyui";

html {
  view-transition-name: none;
}

/* when using "forwards" type, this transition will apply */
:active-view-transition-type(forwards) {
  &::view-transition-old(page) {
    animation: slide-out-to-left 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::view-transition-new(page) {
    animation: slide-in-from-right 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

/* when using "backwards" type, this transition will apply */
:active-view-transition-type(backwards) {
  &::view-transition-old(page) {
    animation: slide-out-to-right 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &::view-transition-new(page) {
    animation: slide-in-from-left 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

/*
@supports (view-transition-name: none) {
  ::view-transition-old(wizard-content) {
    animation: slide-out-left 0.5s ease-out both;
  }

  ::view-transition-new(wizard-content) {
    animation: slide-in-right 0.5s ease-out both;
  }
} */

@keyframes slide-out-to-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(50% * -1));
  }
}

@keyframes slide-out-to-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 0;
    transform: translateX(calc(50% * 1));
  }
}

@keyframes slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(calc(-50% * -1));
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(calc(-50% * 1));
  }

  100% {
    transform: translateX(0%);
  }
}

:active-view-transition-type(down) {
  &::view-transition-old(page) {
    animation: slide-up-out 0.5s ease-out forwards;
  }

  &::view-transition-new(page) {
    animation: slide-up-in 0.5s ease-out forwards;
  }
}

:active-view-transition-type(up) {
  &::view-transition-old(page) {
    animation: slide-down-out 0.5s ease-out forwards;
  }

  &::view-transition-new(page) {
    animation: slide-down-in 0.5s ease-out forwards;
  }
}

@keyframes slide-up-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

@keyframes slide-up-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-down-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

@keyframes slide-down-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
